.navbar {
  margin: 25px 15px 45px 15px;
  display: flex;
  flex-direction: row;

  align-items: center;
  width: auto;
}

.logo {
  font-size: 35px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-right {
  margin-left: auto;
}

.navbar-center {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link.active {
  font-weight: 600;
  font-size: large;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

li {
  list-style-type: none;
}

.searchBar {
  display: grid;
  grid-template-rows: auto;
  position: absolute;
  font-size: larger;
  padding: 8px;
  border-radius: 10px;
  width: 25vw;
}

#searchResults {
  visibility: hidden;
  border-radius: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  top: 93px;
  width: 26vw;
  position: absolute;
  z-index: 1;
  background-color: rgb(186, 190, 190);
}

/* .option:not(:last-child) */

hr {
  border-color: rgb(53, 52, 52);
  margin: 5px;
}

.searchLink {
  width: 100%;
  border-radius: 8px;
  padding: 0.005rem;
  color: black;
}

.searchLink:hover {
  background-color: rgb(206, 206, 206);
}

.searchLink:active {
  background-color: rgb(107, 107, 107);
}

.remove {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

p {
  padding: 5px;
  margin: 0;
  height: fit-content;
}
