.infoArea {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.infoBox {
  background-color: gainsboro;
  padding: 7px 12px;
  border-radius: 7px;
}

.title {
  font-size: large;
  font-weight: 700;
}

.pages {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  height: fit-content;
  padding: 5px;
  border-radius: 8px;
}

.button:active {
  background-color: #bbc4b4;
}
